---
import {formatDate} from '../utils/helpers';

// Fetch posts using Astro.glob
const posts = await Astro.glob('../pages/stories/*.md'); // Adjust the path to your posts
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.publishedAt) - new Date(a.frontmatter.publishedAt));
const recentPost = sortedPosts.length > 0 ? sortedPosts[0] : null;

// Extract title, image URL, and published date of the most recent post
const title = recentPost ? recentPost.frontmatter.title : 'No recent posts';
const imageUrl = recentPost ? recentPost.frontmatter.image : '';
const publishedAt = recentPost ? recentPost.frontmatter.publishedAt : '';
const formattedDate = publishedAt ? formatDate(publishedAt) : 'N/A';

---
<div class="recentPostContainer">
  <article class="recent-post">
    <a href={recentPost.url} class="recent-post-link">
      <div class="recent-post-image-container">
        <picture>
          <source srcset={`${imageUrl.includes('.') ? imageUrl : imageUrl + '.webp'}`} type="image/webp" />
          <img src={`${imageUrl.includes('.') ? imageUrl : imageUrl + '.png'}`} alt={`Featured image for ${title}`} />
        </picture>
        <!-- Overlay Text -->
        <div class="overlay-text">
          <div class="text-container">
            <h2 class="stories-special-header">experiences<br>creates stories</h2>
            <p class="white-color stories-text" style="font-weight: 500; max-width: 500px;">
           Insights from embracing the unknown
            </p>
            <a class="btn-red" href="/stories/">Discover Stories</a>
          </div>
        </div>
        <!-- Bottom Black Bar -->
        <a href={recentPost.url}> <div class="bottom-black-bar"><span class="bottom-black-bar-text">{formattedDate}: {title} <span class="red-new-story" style="font-weight: 700;color: #c83c4e;font-size: 0.7rem;margin-left: 1rem;white-space: nowrap;top: -2px;position:relative">NEW STORY</span></span>
        </div></a>
      
      </div>
    </a>
  </article>
</div>


<style lang="scss">
.recentPostContainer {
  width: 100%;
  display: flex;
  justify-content: center;

}

.bottom-black-bar {
    position: absolute;
    bottom: 10%;
    left: 50%;
    border-radius: 3px;
    transform: translateX(-50%);
    background-color: #1c1e21;
    color: white;
    display: flex;
    flex-direction: column; // Stack children vertically
    align-items: center; // Center-align children horizontally
    justify-content: center; // Center-align children vertically
    font-size: 0.8rem;
    font-weight: 600;
    padding: 0.6rem 1rem;
    cursor: pointer;
  &:hover {
    background-color: rgb(33, 35, 38);
 }

    @media (max-width: 768px) {
        width: 100%;
    }
}

.bottom-black-bar-text {
    margin: 0;
    color: #e8e8e8;
    font-size: 1.1rem;
    transition: align-self 1s ease 0s;
    align-self: center; // Ensure text remains centered horizontally
}


.recent-post {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  border-radius: 8px;
  flex-direction: row;
  justify-content: center;
  transition: 1s ease;
  cursor: pointer;
  @media (min-width: 768px) {
margin: 1.4rem;
  }
}

.recent-post-image-container {
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 7px 29px 0px;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  align-items: center; /* Vertical center */
  justify-content: center; /* Horizontal center */
}

.text-container {
  text-align: center;
  width: 100%;
  padding: 1rem;
  color: white;
}

.recent-post-image-container img {
  filter: grayscale(100%) brightness(50%) contrast(120%);
  transition: filter 3s ease;
  width: 100%; 
  object-fit: cover;
  aspect-ratio: 9/12;
  border-radius: 3px;
}
@media (min-width: 1000px){
  .recent-post-image-container img {
    aspect-ratio: 16/8;

  }
}

 .recent-post:hover .recent-post-image-container img {
  filter: grayscale(30%) brightness(70%) contrast(120%);
} 

.recent-post h2 {
  font-weight: 700;
  line-height: 0.9;
  font-size: 4rem;
  margin: auto;
  color: white;
  letter-spacing: -1px;
  margin-bottom: 2rem;
  margin-top: -4rem;
}

.recent-post .stories-text {
margin: 1rem auto 1.6rem auto;
font-size: 1.3rem;
}


@media (min-width: 768px) {
  .recent-post h2 {
    font-size: 5rem;
  }
}


.preview-link-cta {
  font-size: 1.2rem;
  font-weight: 600;
  color: white; /* Adjust as needed */
}

.recent-post:hover .preview-link-cta {
  color: #e34a5e;
}

.post-preview__date {
  font-size: 1.1rem;
  color: white; /* Adjust as needed */
  margin-bottom: 0.5rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .post-preview__date {
    font-size: 1.3rem;
    background-color: black;

    margin: auto;
  }
}
</style>
