---
import {formatDate} from '../utils/helpers';

// Fetch posts using Astro.glob
const posts = await Astro.glob('../pages/stories/*.md'); // Adjust the path to your posts
const sortedPosts = posts.sort((a, b) => new Date(b.frontmatter.publishedAt) - new Date(a.frontmatter.publishedAt));
const recentPost = sortedPosts.length > 0 ? sortedPosts[0] : null;

// Extract title, image URL, and published date of the most recent post
const title = recentPost ? recentPost.frontmatter.title : 'No recent posts';
const imageUrl = recentPost ? recentPost.frontmatter.image : '';
const publishedAt = recentPost ? recentPost.frontmatter.publishedAt : '';
const formattedDate = publishedAt ? formatDate(publishedAt) : 'N/A';
---

<article class="recent-post">
  <a href={recentPost.url} class="recent-post-link">
    <div class="recent-post-image-container">
      <picture>
        <source srcset={`${imageUrl.includes('.') ? imageUrl : imageUrl + '.webp'}`} type="image/webp" />
        <img src={`${imageUrl.includes('.') ? imageUrl : imageUrl + '.png'}`} alt={`Featured image for ${title}`} />
      </picture>
      
      <!-- Overlay Text -->
      <div class="overlay-text">
        <div class="text-container">
          <p class="post-preview__date">{formattedDate}</p>
          <h2 class="recent-preview__title">{title}</h2>
          <a class="preview-link-cta" href={recentPost.url}>Read latest post</a>
        </div>
      </div>
    </div>
  </a>
</article>


<style>
.recent-post-image-container {
  position: relative;
}

.overlay-text {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.342);
  display: flex;
  align-items: flex-end; /* Vertical center */
  justify-content: center; /* Horizontal center */
}

.text-container {
  text-align: center;
  color: white;
}
 .recent-post {
    background-color: #e8e8e8e4;
    max-width: 600px;
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    border-radius: 8px;
    flex-direction: row;
    margin: auto;
    justify-content: left;
    transition: 1s ease;
    cursor: pointer;
}

.recent-post-image-container img {
    filter: grayscale(100%);
    transition: filter 1s ease;
     border: 2px solid #e8e8e8;
border-radius: 8px;
}

.recent-post:hover .recent-post-image-container img {
    filter: grayscale(0%);
}

.recent-post:hover {
    transform: scale(1.02);
    background-color: #e8e8e8;
}

.recent-post h2 {
  color: #e8e8e8;
  font-size: 2.4rem;
  flex: 0 0 100%;
margin-bottom: 1rem;
  font-weight: 700;
  text-shadow: 0px 3px 20px rgba(28, 30, 33, 0.8);
 }

.preview-link-cta {
  font-size: 1.5rem;
  font-weight: 600;
  text-shadow: 0px 3px 20px rgba(28, 30, 33, 0.8);
}

 .recent-post:hover .preview-link-cta {
color: #e34a5e;
 }

 .post-preview__date {
  font-size: 1.3rem;
color: #e8e8e8;
  font-weight: 500;
  text-shadow: 0px 3px 20px rgba(28, 30, 33, 0.8);
}


</style>
